# gitignore latex aux files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex(busy)
*.synctex
*.synctex.gz(busy)
*.synctex.gz
*.pdfsync
*.ind
*.ilg
*.idx
*.lof
*.lot
*.glo
*.gls
*.xdy
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.ist
*.fls
*.log
*.fdb_latexmk

main.pdf